.note{
    padding: 20px;
    height: 320px;
    width: 280px;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    border-radius: 40px;
}

.note_textarea{
    flex: 1; 
    /* flex is mixture of 3 things - flex grow, flex basics and flex shrink*/
    resize: none;
    background-color: transparent;
    font-size: 1rem;
    line-height: 1.875rem;
    outline: none;
    border: none;
}

.note_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note_footer_delete{
    cursor: pointer;
    opacity: 0;
    transition: 400ms;
}

.note:hover .note_footer_delete{
    opacity: 1;
}



